@use "../../../../styles/index.scss" as gl;

footer {
  margin-top: 50px;
  background: gl.$accent-gradient;
}

.footer__container {
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 50px 40px;
  margin: 0 auto;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 90px 50px;
    grid-gap: 30px;
  }
}

.logo{
  width: 103px;
  grid-column: span 2;

  @media (max-width: 480px) {
    width: 120px;
  }
}

.title {
  grid-column: span 2;
  align-content: center;
  text-align: center;
}

