.news_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 20px;

  margin: 40px 0 60px 0;

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    margin: 30px 0 50px 0;
    gap: 48px;
  }
}

.news_loading{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}