$primary-color-dark: #FFFFFF;
$primary-color-light: #0F0F17;
$background-color-dark: #0F0F17;
$background-color-light: #FFFFFF;
$secondary-color: #545454;
$gradient-color-1: #FB8627;
$gradient-color-2: #F5BEF6;

$accent-gradient: linear-gradient(to bottom, $gradient-color-1, $gradient-color-2);

$font-family-base: 'Inter', sans-serif;
$font-size-h1: 40px;
$font-size-h2: 24px;
$font-size-h3: 20px;
$font-size-h4: 16px;
$font-size-text: 16px;
$font-size-link: 16px;
$font-size-caption: 12px;

$line-height-default: 1.3;