@use "../../../../styles/index.scss" as gl;

.modal_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  button{
    color: gl.$primary-color-light;
    align-self: start;
  }
}

span {
  color: gl.$primary-color-light;
  opacity: 0.7;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}