.layout{
  max-width: 1440px;
  margin: 125px auto 0 auto;
  padding: 60px 40px 0;
  flex: 1;

  @media (max-width: 480px) {
    margin: 94px auto 0 auto;
    padding: 40px 10px 0;
  }
}

.layout_container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}