@use "../../../../styles/index.scss" as gl;

$borderWidth: 1px;

.button {
  padding: 12px 20px;

  @include gl.text-style(gl.$font-size-link, 500, 1.3);

  position: relative;
  border-radius: 40px;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    padding: $borderWidth;
    background-image: gl.$accent-gradient;
    border-radius: inherit;
    mask:
      conic-gradient(#000 0 0) content-box exclude,
      conic-gradient(#000 0 0);
  }

  &:hover {
    background: gl.$accent-gradient;
  }

  &:focus-visible {
    outline: none;
  }
}